.table-cell:filled {
    -fx-background-color: -fx-my-cell-background;
    -fx-text-fill: -fx-my-cell-text;
    -fx-border-color: gray;
    -fx-border-width: 0.05;
}

.table-view:row-selection .table-row-cell:selected .table-cell {
    -fx-background-color: null;
}

.table-view:cell-selection .table-cell:selected {
    -fx-background-color: -fx-table-cell-border-color, -fx-background;
}

.table-row-cell {
    -fx-cell-size: 50px;
    -fx-wrap-text: true;
}

.check-warning {
    -fx-background-color: yellow;
}

.check-warning:hover {
    -fx-text-fill: black;
}

.check-warning:hover .check-box {
    -fx-text-fill: black;
}

.places-counter {
    -fx-border-style: dashed;
    -fx-border-width: 3px;
    -fx-border-radius: 5px;
    -fx-border-insets: 2px;
    -fx-border-color: salmon;
}
